body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}
#wrapper {
  height: 100%;
}
#sidebar {
  position: fixed;
  background-color: #333;
  height: 100%;
  padding-top: 25px;
}
.sidebar-title {
  color: darkred;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 15px;
  margin-bottom: 25px;
  font-size: 28px;
}
.nav-item a {
  color: #fff;
  text-decoration: none;
}
.nav-item a:hover {
  color: crimson;
}
#main {
  padding-right: 30px;
}

iframe {
  width: 100%;
  height: 600px;
  margin: 25px;
  margin-left: 0;
}